<header class="header">
  <div class="container nav">
    <a href="index.html" class="brand">
      <img src="img/logo.png" alt="Logo HemaVita" class="logo">
      <div class="brand-text">
        <span class="brand-title">HemaVita Campina</span>
        <span class="brand-subtitle">Projeto acadêmico com impacto social</span>
      </div>
    </a>

    <nav>
      <ul class="menu">
        <li><a href="index.html">Início</a></li>
        <li><a href="onde_doar.html">Onde Doar</a></li>
        <li><a href="quem-pode-doar.html">Quem Pode Doar</a></li>
        <li><a href="campanhas.html">Campanhas</a></li>
        <li><a href="contato.html" class="menu-btn">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>